{% extends 'base.html' %}
{% block content %}


<div class="category-top">
    <div class="category-top-left">
        <ul class="left-menu">
            <li class="new-post">
                New Post
            </li>
            <li class="ranking">
                Ranking
            </li>
            <li class="search">
                Search
            </li>
        </ul>
    </div>

    <div class="category-top-middle">
    </div>

    <div class="category-top-right">
        <div class="right-menu">
            Tag 1
        </div>
        <ul class="tag-name-ranking">
            Tag 2
        </ul>
        <ul class="tag-name-ranking">
            Tag 3
        </ul>
        <ul class="tag-name-ranking">
            Tag 4
        </ul>
        <ul class="tag-name-ranking">
            Tag 5
        </ul>
        <ul class="tag-name-ranking">
            Tag 5
        </ul>
    </div>

</div>


{% endblock %}