{% extends 'base.html' %}
{% block content %}


<div class="category-top">
    <div class="category-content">
        <div class="category-top-title">
            {% if category_type == '1' %}
                カテゴリ：災害中
            {% elif category_type == '2' %}
                事前対策
            {% elif category_type == '3' %}
                ボランティア
            {% elif category_type == '3' %}
                アイテム紹介
            {% endif %}
            : New Post
        </div>

        <div class="category-top-search">
            <input class="category-search-box" type="text" placeholder=" search"/>
            <div style="flex-basis: 300px;"></div>
            <i class="category-search-decision fas fa-search"></i>
            <i class="category-search-menu fa fa-angle-down"></i>
        </div>


        {{ empty }}
        {% for article in articles %}
        <div class="post-card">
            <div class="card-image">
                [image]
            </div>
            <div class="card-title">
                <a href="{% url 'boards:article_detail' article.id%}">{{ article.title }}</a>
            </div>
            <div class="card-tag">
                {{ article.tag }}
            </div>
            <div class="card-good">
                {{ article.good }}
            </div>
            <div class="card-status">
                {% if articles.draft_flag  %}
                    下書き
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}