{% extends 'base.html' %}


{% block content %}
<div class="description">

    <div class="description-box">
        <div class="description-title">CalamiTect</div>
        <div class="description-sentence">Description of category Description of category Description of category
            Description of category Description of category Description of category Description of category Description
            of category Description of category Description of category Description of category Description of category</div>
    </div>

</div>


<div class="section-list">
    <section class="section-category">
        <div class="category-left">
            <div style="height: 130px; line-height:3; font-size: 2rem; margin-left: 15px;">Category1</div>
            <div style="margin-left: 15px;">Description of category Description of category Description of category Description of category Description
                of category Description of category Description of category Description of category Description of category</div>
        </div>
        <div class="category-right">
        </div>
    </section>
        <section class="section-category">
        <div class="category-left">
            <div style="height: 130px; line-height:3; font-size: 2rem; margin-left: 15px;">Category2</div>
            <div style="margin-left: 15px;">Description of category Description of category Description of category Description of category Description
                of category Description of category Description of category Description of category Description of category</div>
        </div>
        <div class="category-right">
        </div>
    </section>
        <section class="section-category" style="margin-top: 0px;">
        <div class="category-left">
            <div style="height: 130px; line-height:3; font-size: 2rem; margin-left: 15px;">Category3</div>
            <div style="margin-left: 15px;">Description of category Description of category Description of category Description of category Description
                of category Description of category Description of category Description of category Description of category</div>
        </div>
        <div class="category-right">
        </div>
    </section>
        <section class="section-category"style="margin-top: 0px;">
        <div class="category-left">
            <div style="height: 130px; line-height:3; font-size: 2rem; margin-left: 15px;">Category4</div>
            <div style="margin-left: 15px;">Description of category Description of category Description of category Description of category Description
                of category Description of category Description of category Description of category Description of category</div>
        </div>
        <div class="category-right">
        </div>
    </section>
</div>

{% endblock %}