<!DOCTYPE html>
{% load static %}
<html>
  <head>
      <meta charset="utf-8">
      <title>Calamitect</title>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/boards/boards.css' %}">
      <link rel="stylesheet" href="{% static 'css/accounts/accounts.css' %}">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  </head>


  <body>
    <header>
        <div class="header-menu">
            <div class="title"><a href="{% url 'boards:index' %}">RogoRogo</a></div>
            <i id="nav_btn" class="navi-button fa fa-angle-down"></i>

            <i id="search_btn" class="search fas fa-search"></i>
            {% if user.is_authenticated %}
            <div class="logout"><a href="{% url 'accounts:logout' %}">ログアウト</a></div>
{#            <div class="post"><a href="{% url 'boards:create' %}">投稿</a></div>#}
            <div class="post"><a href="{% url 'boards:userpage' user_id%}">MyPage</a></div>
            {% else %}
            <div class="signin"><a href="{% url 'accounts:create'%}">登録</a></div>
            <div class="login"><a href="{% url 'accounts:login' %}">ログイン</a></div>
            {% endif %}

            {#   クリック時のバー      #}
            <nav id="navi" class="header-category display-none">
                <ul>
                    <li class="header-category-menu"><a href="{% url 'boards:categoryTop' %}?category_type=1">事前対策</a></li>
                    <li class="header-category-menu"><a href="{% url 'boards:categoryTop' %}?category_type=2">災害中対応</a></li>
                    <li class="header-category-menu"><a href="{% url 'boards:categoryTop' %}?category_type=3">ボランティア</a></li>
                    <li class="header-category-menu"><a href="{% url 'boards:categoryTop' %}?category_type=4">アイテム紹介</a></li>
                </ul>
            </nav>
            <div id="search" class="search-bar display-none">
                <form method="post" action="{% url 'boards:search' %}">
                    {% csrf_token %}
                    <input class="search-box" type="text" name="search-words" placeholder="検索"/>
                    <button type="submit" class="search-decisiton">
	                    <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

        </div>
    </header>
    {#  fixed の補正  #}
    <div class="header-opacity-cancel"></div>
    <div class="header-margin-cancel"></div>

    {#  内容  #}
    <div class="userpage">
        <div class="userpage-left-dummy">
        </div>
        <div class="userpage-left">
            <div class="userpage-left-title">
                MyPage
            </div>
            <ul class="userpage-left-menu">
                <li class="userpage-list">
                    <a href="{% url 'boards:newpost' user_id%}">新規投稿</a>
                </li>
                <li class="userpage-list">
                    <a href="{% url 'boards:postall' user_id%}">投稿一覧</a>
                </li>
                <li class="userpage-list">
                    <a href="{% url 'boards:mygood' user_id%}">いいね</a>
                </li>
                <li class="userpage-list">
                    <a href="{% url 'boards:favorite' user_id%}">お気に入り</a>
                </li>
                <li class="userpage-list">
                    <a href="{% url 'boards:userpage' user_id%}">プロフィール</a>
                </li>
            </ul>
        </div>

        <div class="userpage-middle">
            {% block content %}
            {% endblock %}
        </div>
    </div>


    <footer>
        <div class="copy">&copy kitガジェット研究所</div>
    </footer>



    {#  js  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
        $(document).ready(function(){
          $('.bxslider').bxSlider({
              mode: 'fade',
              captions: true,
              slideWidth: 1100,
              slideHeight: 500,
          });
        });
    </script>

  </body>
</html>