{% extends 'accounts/base_userpage.html' %}

{% block content %}
{% for good in goods %}
         <div class="post-card-good">
            <div class="card-image-good">
                [image]
            </div>
            <div class="card-right-good">
                <div class="card-title-good">
                    <a href="{% url 'boards:article_detail' good.article.id%}">{{ good.article.title }}</a>
                </div>
                <div class="card-content-good">
                    {{ good.article.description }}
                </div>
                <div class="card-tag-good">
                    {{ good.article.tag }}
                </div>
                <div class="card-good-good">
                    <div class="card-good-good-info">
                        <i class="far fa-thumbs-up"></i>{{ good.article.good_sum }}
                    </div>
                </div>
            </div>
         </div>
{% endfor %}
{% endblock %}