{% extends 'base.html' %}

{% block content %}
    <div class="post-form">
        <form method="post" action="">
            {% csrf_token %}
            <h2>Sign up</h2>
            {% for field in form %}
                <div style="width: 200px; font-size: 2rem; font-weight: bold; margin-left: 100px;">{{ field.label }}</div>
                {{ field }}
                {% if field.errors %}
                    <p>{{ field.errors.0 }}</p>
                {% endif %}
            {% endfor %}

            {% if form.non_field_errors %}
                <ul>
                    {% for non_field_error in form.non_field_errors %}
                        <li>{{ non_field_error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <br>
            <br>
            <div><input type="submit" value="送信"></div>
            <br>
        </form>
    </div>
{% endblock %}
