{% extends 'accounts/base_userpage.html' %}

{% block content %}
<div class="post-form">
  <form method="post" action="{% url 'boards:create'%}">
      {% csrf_token %}
      <div class="new-post-title">タイトル</div>
      <input class="form-title" type="text" name="title" />
      <div class="new-post-description">内容</div>
      <textarea class="form-description" name="description" >ここに内容を記入してください。</textarea>
      <br />
      <div class="new-post-category">カテゴリー</div>
      <label class="form-category"><input type="radio" name="category_type" value="1" checked="checked">災害中</label>
      <label class="form-category"><input type="radio" name="category_type" value="2">事前対策</label>
      <label class="form-category"><input type="radio" name="category_type" value="3">ボランティア</label>
      <label class="form-category"><input type="radio" name="category_type" value="4">アイテム紹介</label>
      <div class="new-post-tag">タグ</div>
      <i class="fas fa-tags"></i>  <input class="form-tag" type="text" name="tag" /><br />
      <label class="form-category"><input type="radio" name="draft_flag" value="True" checked="checked">下書き</label>
      <label class="form-category"><input type="radio" name="draft_flag" value="False">投稿</label>
      <div><input type="submit" value="送信"></div>
  </form>
</div>
{% endblock %}