{% extends 'accounts/base_userpage.html' %}

{% block content %}
    <div class="post-form">
        <form method="post" action="{% url 'boards:create' %}">
            {% csrf_token %}
            <div style="width: 200px; font-size: 2rem; font-weight: bold; margin-left: 100px;">カテゴリー</div>
            <label class="form-category">
                <input type="radio" name="category_type" value="1" checked="checked">災害中</label>
            <label class="form-category">
                <input type="radio" name="category_type" value="2">事前対策</label>
            <label class="form-category">
                <input type="radio" name="category_type" value="3">アイテム紹介</label>

            {% for field in form %}
                <div style="width: 200px; font-size: 2rem; font-weight: bold; margin-left: 100px;">{{ field.label }}</div>
                {{ field }}
                {% if field.errors %}
                    <p>{{ field.errors.0 }}</p>
                {% endif %}
            {% endfor %}

            {% if form.non_field_errors %}
                <ul>
                    {% for non_field_error in form.non_field_errors %}
                        <li>{{ non_field_error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <label class="form-category">
                <input type="radio" name="draft_flag" value="True" checked="checked">下書き</label>
            <label class="form-category">
                <input type="radio" name="draft_flag" value="False">投稿</label>

            <br>
            <div><input type="submit" value="送信"></div>
        </form>
    </div>
{% endblock %}