{% extends 'accounts/base_userpage.html' %}

{% block content %}
<div class="post-form">
  <form method="post" action="">
      {% csrf_token %}
      <div style="width: 200px; font-size: 2rem; font-wight: bold; margin-left: 100px;">Title</div>
      <input class="form-title" type="text" name="title" value="{{ articles.title }}"/>
      <div style="width: 200px; font-size: 2rem; font-wight: bold; margin-left: 100px;">カテゴリー</div>
      <label class="form-category"><input type="radio" name="category_type" value="1" {% if articles.category_type == 1 %}checked="checked"{% endif %}>災害中</label>
      <label class="form-category"><input type="radio" name="category_type" value="2" {% if articles.category_type == 2 %}checked="checked"{% endif %}>事前対策</label>
      <label class="form-category"><input type="radio" name="category_type" value="3" {% if articles.category_type == 3 %}checked="checked"{% endif %}>アイテム紹介</label>
      <div style="width: 200px; font-size: 2rem; font-wight: bold; margin-left: 100px;">内容</div>
      <textarea class="form-description" name="description" >{{ articles.description }}</textarea>
      <br />
      <label class="form-category"><input type="radio" name="draft_flag" value="True"  {% if articles.draft_flag == True %}checked="checked"{% endif %}>下書き</label>
      <label class="form-category"><input type="radio" name="draft_flag" value="False" {% if articles.draft_flag == False %}checked="checked"{% endif %}>投稿</label>
      <div><input type="submit" value="更新"></div>
  </form>
</div>
{% endblock %}