{% extends 'accounts/base_userpage.html' %}
{% load static %}

{% block content %}
    {% for article in articles %}
        <div class="post-card-postall">
            <div class="card-image-postall">
                {% if article.user.profile_icon %}
                    <a href="{{ article.user.profile_icon.url }}">
                        <img src="{{ article.user.profile_icon.url }}" title="user-icon" width="100px" height="100px">
                    </a>
                {% else %}
                    <a href="{% get_media_prefix %}/profile_icons/default.png">
                        <img src="{% get_media_prefix %}/profile_icons/default.png" title="user-icon"
                             width="100px" height="100px">
                    </a>
                {% endif %}
            </div>
            <div class="card-right-postall">
                <div class="card-title-postall">
                    <a href="{% url 'boards:article_detail' article.id %}">{{ article.title }}</a>
                    <a href="{% url 'boards:post_edit' user_id article.id %}"><span style="color:blue;">[編集]</span></a>
                </div>
                <div class="card-content-postall">
                    {{ article.description }}
                </div>
                <div class="card-tag-postall">
                    {{ article.tag }}
                </div>
                <div class="card-good-postall">
                    <div class="card-postall-good-info">
                        <i class="far fa-thumbs-up"></i>{{ article.good_sum }}
                    </div>
                </div>
                <div class="card-status">
                    {% if article.draft_flag %}
                        [下書き]
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}