.post-form {
    width: 1100px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 30px;
    text-align: center;
}
form{
    margin: 0 auto;
}
.form-title {
    width: 600px;
    height: 40px;
    margin: 0 auto;
}
.form-category {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-right: 15px;
}

.form-description {
    width: 600px;
    height: 200px;
    margin: 0 auto;
}


/*   category-top-page  */

.category-top {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}

ul.left-menu {
    list-style-type: none;
    margin: 0px;
}
ul.left-menu li{
    display: inline-block;
    width: 160px;
    line-height: 40px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 10px 0px;
    text-align: center;
}

.category-top-search{
    width: 900px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

input.category-search-box{
    border: none;
    width: 550px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 6px;
    padding-left: 30px;
    margin-left: 150px;
}
.category-search-decision{
    flex-basis: 840px;
    height: 30px;
}
.category-search-menu {
    flex-basis: 40px;
    height: 30px;
    text-align: center;
    border: 0.8px solid grey;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 1.2;
}
div.category-search-decision form{
    display: inline-block;
    height: 30px;
}
.category-search-menu{
    padding-top: 5px;
}
button.category-search-mark{
    width: 40px;
    height: 100%;
    border: none;
    background-color: rgba(255,255,255,0.1);
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}

.search-menu-bar{
    position:absolute;
    top: 37px;
    right: 10px;
    width:120px;
    height: 70px;
    border: 1px solid grey;
    background-color: #ffffff;
    padding: 5px;
    box-sizing: border-box;
}
.sorted-new, .sorted-good{
    width: 100%;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.6;
    font-size: 1.7rem;
    border-radius: 8px;
    user-select: none;
}
.sorted-new:hover, .sorted-good:hover{
    background-color: rgba(255,131,0,0.6);
    cursor: pointer;
}
.display-none{
    display: none;
}
div.sorted-new a, div.sorted-good a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.post-card {
    margin: 30px auto;
    border: 1px solid black;
    width: 900px;
    height: 200px;
    display: flex;
}
.post-title {
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}
.card-image {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 30px;
    flex-basis: 200px;
}
.card-right{
    flex-basis: 700px;
}
.card-title {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    flex-basis: auto;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px ;
}
div.card-title a{
    text-decoration: none;
    cursor: pointer;
}
.card-content{
    font-weight: lighter;
    font-size: 1.7rem;
    color: #787878;
    height: 50px;
    padding-right: 50px;
    overflow: hidden;

    /*chrome とsafariのみ効く三点リーダー*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}



/* index */

.pickup{
    width: 750px;
    margin: 0 auto;
    margin-top: 50px;
}

.pickup-title{
    font-weight: bold;
}

.pickup-content{
    width:740px;
    height: 170px;
    margin: 20px auto;
    border: 1px solid black;
}

.post-card-mini {
    margin: 30px auto;
    border: 1px solid black;
    width: 750px;
    height: 200px;
    display: flex;
}
.post-title-mini {
    margin-top: 10px;
    margin-left: 50px;
    box-sizing: border-box;
}
.card-image-mini {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 30px;
    flex-basis: 150px;
}
.card-right-mini{
    flex-basis: 600px;
}

.card-content-mini{
    font-weight: lighter;
    font-size: 1.7rem;
    color: #787878;
    padding-right: 50px;
    height: 50px;
    overflow: hidden;

    /*chrome とsafariのみ効く三点リーダー*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* article detail */

.article-detail{
    width: 1100px;
    margin: 50px auto;
    margin-bottom: 0px;
}

.article-detail-info{
    height: 200px;
    width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article-detail-title{
    width: 800px;
    height: 50px;
    text-align: left;
    font-weight: bold;
    font-size: 3rem;
    padding: 10px;
    margin: 0 auto;
}
.article-detail-username,
.article-detail-created-at,
.article-detail-comments,
.article-detail-good{
    flex-basis: 170px;
    height: 50px;
    font-size: 1.5rem;
}

.article-detail-category,
.article-detail-tag{
    flex-basis: 200px;
    height: 30px;
}

.article-detail-description{
    width: 800px;
    margin: 20px auto;
    border-bottom: 1px solid black;
    min-height: 200px;
    height: 100%;
 }

.article-comment-create{
    width: 800px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}
.article-comment-title{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
}
.comment-form{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.comment-box{
    display: inline-block;
    flex-basis: 600px;
    height: 70px;
    border: none;
    border: 1px solid grey;
    margin-right: 50px;
    font-size: 2rem;
}
.comment-button{
    display: inline-block;
    flex-basis: 50px;
    height: 30px;
    background-color: rgba(255,131,0,0.6);
    border: 1px solid grey;
    border-radius: 8px;
}

.article-comment-list{
    width: 700px;
    height: 100%;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
}
.article-comment-list-header{
    width: 700px;
    height: 50px;
    overflow: hidden;
}
.article-comment-user{
    width: 300px;
    float: left;
    font-size: 1.8rem;
}
.article-comment-create-at{
    width: 300px;
    float: right;
    font-size: 1.5rem;
}
.article-comment-content{
    width: 700px;
    height: 50px;
}